* {
    border: none;
    border-radius: 0;
    font-family: Liberation Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  border-radius: 8px;
  background-color: #000000;
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.active {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 0 4px;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: white;
    border-radius: 16px;
    padding: 2px 14px;
    color: black;
}

#temperature.critical {
    color: red;
}

#temperature {
    background-color: white;
    border-radius: 16px;
    padding: 2px 14px;
    color: black;
}

#load {
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 2px 14px;
}

#pulseaudio {
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 2px 14px;
}

#network {
    background-color: white;
    padding: 2px 14px;
    border-radius: 16px;
    color: black;
} 

#disk.warning {
    color: orange;
}

#disk.critical {
    color: red;
}

#disk {
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 2px 14px;
}

#backlight {
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 2px 14px;
}

#battery {
    background-color: #ffffff;
    color: black;
    border-radius: 16px;
    padding: 2px 14px;
}

#battery.normal.charging {
    color: #26A65B;
    background-color: #ffffff;
}

#battery.warning {
    color: orangered;
}

#battery.critical {
    color: red;
}

#battery.normal {
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
