@import url("/home/admin/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: Liberation Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  border-radius: 8px;
  background-color: @color5;
}

tooltip label {
  color: @background;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @color1;
}

#workspaces button.active {
    color: @color1;
    background-color: @background;
    border-radius: 50%;
    padding: 0 4px;
}

#workspaces button:not(.active) {
    background-color: @color1;
    border-radius: 50%;
    color: @color0;
    padding: 0 2px;
    margin: 2px;
}

#clock {
    background-color: @background;
    border-radius: 16px;
    padding: 2px 14px;
    color: @color1;
}

#temperature.critical {
    color: red;
}

#temperature {
    background-color: @background;
    border-radius: 16px;
    padding: 2px 14px;
    color: @color1;
}

#load {
    background-color: @background;
    border-radius: 16px;
    color: @color1;
    padding: 2px 14px;
}

#pulseaudio {
    background-color: @background;
    border-radius: 16px;
    color: @color1;
    padding: 2px 14px;
}

#network {
    background-color: @background;
    padding: 2px 14px;
    border-radius: 16px;
    color: @color1;
} 

#disk.warning {
    color: orange;
}

#disk.critical {
    color: red;
}

#disk {
    background-color: @background;
    border-radius: 16px;
    color: @color1;
    padding: 2px 14px;
}

#backlight {
    background-color: @background;
    border-radius: 16px;
    color: @color1;
    padding: 2px 14px;
}

#battery {
    background-color: @background;
    color: @color1;
    border-radius: 16px;
    padding: 2px 14px;
}

#battery.normal.charging {
    color: @color0;
    background-color: @color5;
}

#battery.warning {
    color: orangered;
}

#battery.critical {
    color: red;
}

#battery.normal {
    color: @color1;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background: @color5;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
